@media (max-width: 1500px){
    main{
        width: 50%;
    }
}


@media(maxwidth: 1050px ) {
    
    .textprincipal{
        display: flex;
        flex-wrap: wrap;
}



@media(max-width: 800px) {



}
}

