// Utilitaires Couleurs
$fond-recherche: #0079FF;
$fond-erreur: #ff0000;
$fond-non-disponible: #8c98ac;
$font-at:#0079FF;

// Mode clair
$fond-git-clair: #FEFEFE;
$fond-icon-clair: #697C9A;
$font-clair: #4B6A9B;
$font-fonce: #2B3442;
$light-color: #F6F8FF;



// Mode Sombre
$fond-sombre: #141D2F;
$fond-git-sombre: #1E2A47;
$fond-icon-sombre: #FFF;
$font-sombre: #FFF; 
$dark-color: #2B3442;



// Mise en forme
$radius: 18px

