body {
  background: #F6F8FF;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

h1 {
  display: flex;
  flex: start;
  font-size: 1.7rem;
  font-family: "Space Mono", monospace;
}

.github {
  display: flex;
  width: 35vw;
  height: 45vh;
  background: #FEFEFE;
  border-radius: 18px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
  margin-top: 25px;
}

.search {
  display: flex;
  align-items: center;
  width: 35vw;
  height: 7vh;
  background: #FEFEFE;
  border-radius: 18px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
}

.fa-search {
  font-size: 1.5rem;
  color: #0079FF;
  margin-left: 30px;
}

input[type=text] {
  width: 72%;
  margin-left: 20px;
  font-family: "Space Mono", monospace;
  border: none;
  outline: none;
  caret-color: #0079FF;
}

button {
  width: 100px;
  height: 50px;
  color: white;
  background: #0079FF;
  border-radius: 10px;
  border: none;
  font-family: "Space Mono", monospace;
}

.header {
  display: flex;
  align-items: center;
  font-family: "Space Mono", monospace;
}

.sombre {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin-left: auto;
  color: #697C9A;
}

.fa-moon {
  font-size: 1.3rem;
  margin-left: 10px;
  color: #697C9A;
  margin-top: 8px;
}

.photo {
  width: 20%;
  height: 30%;
  margin-left: 45px;
  margin-top: 50px;
}

.textprincipal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hhh {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  margin-top: 8px;
}

h2 {
  margin-bottom: 0px;
  margin-left: 30px;
}

.date {
  color: #4B6A9B;
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.at {
  font-family: "Space Mono", monospace;
  color: #0079FF;
  margin-top: -15px;
  margin-left: 30px;
}

.bio {
  font-size: 0.9rem;
  color: #4B6A9B;
  font-family: "Space Mono", monospace;
  margin-top: 30px;
  margin-bottom: 35px;
  margin-left: 30px;
}

.info {
  width: 85%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background: #F6F8FF;
  font-size: 0.8rem;
  font-family: "Space Mono", monospace;
  margin-left: 30px;
}

h3 {
  color: #4B6A9B;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 0.8rem;
}

h4 {
  color: #2B3442;
  margin-top: 0px;
  font-size: 1.5rem;
}

.repos, .followers, .following {
  margin-top: 10px;
}

.reseaux, .reseaux2 {
  width: 85%;
  height: 10%;
  display: flex;
  color: #4B6A9B;
  font-family: "Space Mono", monospace;
  margin-left: 30px;
}

.reseaux .reseaux2, p {
  font-size: 0.9rem;
}

.reseaux .reseaux2, i {
  font-size: 1.2rem;
}

.reseaux {
  margin-top: 30px;
}

.reseaux2, p, i {
  margin-top: 5px;
}

.localisation .twitter, p {
  margin-left: 20px;
}

.twitter {
  margin-left: 150px;
}

.twitter {
  color: #8c98ac;
}

.localisation, .twitter {
  display: flex;
}

.link, .link2 {
  display: flex;
}

.link2 {
  margin-left: 25px;
}

@media (max-width: 1250px) {
  main .info {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
